<%= form_with(model: kid) do |form| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kid.errors.count, "error") %> prohibited this kid from being saved:</h2>
      <ul>
        <% kid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="kids_table">

    <div class="field">
      <tr>
        <th><%= form.label :名前 %></th>
        <td><%= form.text_field :name, class: "input_form wide" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= form.label :性別 %></th>
        <td>
          <%= form.radio_button :sex, :男の子 %>
          <%= form.label :男の子 %>
          <%= form.radio_button :sex, :女の子 %>
          <%= form.label :女の子 %>
        </td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= form.label :欲しいもの %></th>
        <td><%= form.text_field :target, class: "input_form wide" %></td>
      </tr>
    </div>

    <div class="field">
      <tr>
        <th><%= form.label :目標金額 %></th>
        <td><%= form.number_field :target_amount, class: "input_form wide" %></td>
      </tr>
    </div>

  </table>

  <div class="field">
    <h5><%= form.label :画像 %></h5>
    <%= form.file_field :image %>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="actions action_last">
    <%=  form.submit '登録', class: "btn btn_submit" %>
  </div>
<% end %>
