<div class="devise_out">
  <div class="devise_frame">
    <h2><%= t('.sign_up') %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_form" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "input_form" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_form" %>
        </div>

        <div class="actions">
          <%= f.submit t('.sign_up'), class: "btn_submit" %>
        </div>
      <% end %>
      <div class="linkbtn_white">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
