<% provide(:title, "Top") %>
<div class="top">
  <%= image_tag "top-piggybank-phot.jpg" %>
  <div class="top_messarge">
    <h1>Piggy Bank</h1>
    <p>おやこでつかう<br>はじめての貯金箱</p>
    <% if user_signed_in? && @kids_count == 0 %>
      <%= button_to 'お子様登録', kids_path, method: :get, class: "btn btn_start" %>
    <% elsif user_signed_in? && @kids_count > 0 %>
      <%= button_to 'はじめる', homes_select_kid_path, method: :get, class: "btn btn_start" %>
    <% else %>
      <%= button_to 'ログイン', new_user_session_path, method: :get, class: "btn btn_guest_login" %>
      <%= button_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn_guest_login" %>
    <% end %>
  </div>
</div>
<div class="about" id="about">
  <div class="about_flame">
    <div class="about_messarge">
      <h1>Piggy Bank とは？</h1>
      <p>
        Piggy Bankは、
        <br>
        初めておこづかいをもらった日から使える
        <br>
        おこづかい管理アプリです。
        <br>
        <br>
        赤ちゃんのうちはパパ・ママがお喋りしながら、
        <br>
        スマホが操作できるようになったら自分で、
        <br>
        楽しくおこづかいを管理することができます。
        <br>
        <br>
        自身でお金を管理することで、
        <br>
        おこづかいをもらうありがたさ・
        <br>
        欲しいものを買えるよろこびを感じ、
        <br>
        幼いうちから金銭感覚を身につけてほしい。
        <br>
        そんな母の想いから作成しました。
      </p>
    </div>
  </div>
</div>
